# Dependencies
/node_modules
/functions/node_modules

# Next.js
/.next/
/out/
/build

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
firestore_export/

# Env files
.env
.env*.local

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Puppeteer / Chromium caches
**/.local-chromium/
**/.cache/puppeteer/
**/chrome-linux/
**/Chromium.app/
