# Dependencies
/node_modules
/functions/node_modules

# Next.js
/.next/
/out/
/build

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
firestore_export/

# Functions
/functions/lib/
/functions/coverage/

# Testing
/coverage/
__snapshots__/

# Env files
.env
.env*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
.idx/

# TypeScript
*.tsbuildinfo
tsconfig.tsbuildinfo

# Puppeteer / Chromium caches
**/.local-chromium/
**/.cache/puppeteer/
**/chrome-linux/
**/Chromium.app/

# Sentry Config File
.env.sentry-build-plugin

# Nix files
*.nix

# Firebase hosting debug logs
firebase-debug.log
